@import "lightbox/lightbox.scss";
@import "aos/aos.scss";
@import "materialize/materialize.scss";
@import "bootstrap/bootstrap.scss";

.IMG-FIT_Album {
    width: 75%;
    object-fit: cover;
    height: 200px; 
}

.IMG-FIT_Image {
    width: 100%;
    object-fit: cover;
    height: 150px; 
}