###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/bin/
/var/
/vendor/
/symfony.lock

###> JS  ###
/node_modules/*
/package-lock.json

###> JS  ###
/composer.lock

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
public/images/gallery/01_JSON/

###> pentatrion/vite-bundle ###
/public/build/
###< pentatrion/vite-bundle ###
