$ImageWidth: 260px;
$ImageHeight: 180px;

$BDRadius: 10px;

.my_album_child {

  img {
    display: block;
    border-radius: $BDRadius;
    width: $ImageWidth;
    height: $ImageHeight;
    object-fit: cover;
    box-shadow: $BorderShadow;
  }

}