@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "photoswipe/dist/photoswipe.css";
/* @import "lightgallery/css/lightgallery-bundle.css"; */

/* @import "lightbox"; */

// @import 'preset';

// Tutorial Start

/* .group:focus .group-focus\:flex {
    display: flex;
} */

// @import "gallery_new";

 img {
	height: 400px;
	width: 600px; 
	object-fit: cover;
 }