{% extends 'base.html.twig' %}

{% block title %}Gallerien{% endblock %}

{# Wird von Base üernommen #}

{% block album %}

    <section class="overflow-hidden text-gray-700">
        <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
            <div class="flex flex-wrap -m-1 md:-m-2">
                {% for type, items in items %}
                    <div class="flex flex-wrap w-1/3">
                        {% for key, value in items %}
                            {% if loop.index == 1 %}
                                <div class="w-full p-1 md:p-2">
                                    <a href="{{ path ('gallery.view',{id: type}) }}"><img alt="gallery" class="block object-cover object-center w-full h-64 rounded-xl" src="{{ asset('images/gallery') }}/{{ type }}/{{ value }}"></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </selection>
{% endblock %}