<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		<title>{% block title %}{% endblock %}</title>

		<!-- ANCHOR CSS  -->
		{% block stylesheets %}
			{{ vite_entry_link_tags('app') }}
		{% endblock %}

	</head>

	<!-- ANCHOR Body  -->
	<body>
		{% block body %}

{# 			{% block navigation %}
				<div class="navbar">
					<h2>{% block nav_1 %}<a href="{{ path ('gallery.base') }}">{% endblock %}
						Home
					{% block nav_2 %}{% endblock %}</h2>
					</a>
				</div>
			{% endblock %} #}

			{% block album %}{% endblock %}
			{% block images %}{% endblock %}
			{% block lightbox %}{% endblock %}

		{% endblock %}

	</body>

	<!-- ANCHOR JS  -->
	{% block javascripts %}
		{{ vite_entry_script_tags('app') }}
	{% endblock %}

</html>