<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>{% block title %}{% endblock %}</title>


    <!-- ANCHOR CSS  -->
    {% block stylesheets %}
      <link href="{{ asset('app/css/style.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

  </head>

  <!-- ANCHOR Body  -->
  <body>
    <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
      <h2 class="font-medium leading-tight text-5xl">{% block capture %}Gallerie{% endblock %}</h2>
    </div>

    <div>

      {% block body %}

        <div>

          {% block album %}{% endblock %}
          {% block images %}{% endblock %}

        </div>

      {% endblock %}

    </div>
  </body>
</html>